<div>
  <input type="text" id="title" placeholder="Titulo" />
  <input type="text" id="description" placeholder="Descripcion" />
  <input type="number" id="price" placeholder="Precio" />
  <input type="number" id="code" placeholder="Codigo" />
  <input type="number" id="stock" placeholder="Stock" />
  <button id="sendProduct">Enviar</button>
  <h1>Todos los productos</h1>
  <div id="productsContainer"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>